<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <title>Sistema de Diagnostico</title>

    <!-- STYLES -->
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@jcubic/tagger@0.6.2/tagger.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- STYLES -->
</head>

<body>
    <div class="modal fade" id="diagnostico-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="diagnostico-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header text-primary text-center">
                    <h2 class="modal-title w-100 diagTitle" id="diagnostico-modal-label">Diagnostico</h2>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body" name="diagnostico">

                </div>
            </div>
        </div>
    </div>

    <div class="form-container">
        <div class="card-body">

            <div class="row text-primary">
                <h1 class="mb-5">Sistema de Diagnostico</h1>
            </div>
            <form onsubmit="submitForm(event)">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" name="nome" class="form-control" required>
                                <label>Nome</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="number" name="idade" step="1" min="1" max="999" class="form-control"
                                    required>
                                <label>Idade</label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <select type="text" name="sexo" class="form-select" required>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                    <option value="outro">Outro</option>
                                </select>
                                <label>Sexo</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="number" name="peso" step="1" min="1" max="999" class="form-control"
                                    required>
                                <label>Peso (kg)</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="number" name="altura" step="1" min="1" max="999" class="form-control"
                                    required>
                                <label>Altura (cm)</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" name="sintoma" class="form-control" required>
                                <label>Escreva um sintoma por vez</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="mt-4">Sintomas (max 10)</h5>
                <div class="row">
                    <div class="col">
                        <div class="input-group ">
                            <div class="form-floating ">
                                <input type="text" class="form-control sintomas" name="sintomas" />
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-4 h-100 w-100">Gerar Diagnostico Provisorio</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jcubic/tagger@0.6.2/tagger.min.js"></script>
    <script src="static/js/diagnostico.js"></script>
</body>

</html>